.lista-transacciones {
    display: flex;
    justify-content: space-around;
}

.transaccion {
    font-size:xx-large;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin: 0 5px 5px;
    border: 5px solid;
}

.gasto {
    background-color: rgb(224, 42, 42);
    border-color: rgb(166, 16, 16);
    color: white;
}

.ingreso {
    background-color: rgb(34, 241, 58);
    border-color: rgb(24, 197, 44);
    color: white;
}

.transferencia {
    background-color: rgb(130, 213, 255);
    border-color: rgb(102, 204, 255);
    color: white;
}