-i https://pypi.org/simple

asgiref==3.9.1
Django==5.2.4
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
PyJWT==2.10.1
python-dotenv==1.2.2
sqlparse==0.5.3

psycopg2-binary==2.9.11
gunicorn==21.2.0
dj-database-url==2.2.0