<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
            .lista-transacciones {
                display: flex;
                justify-content: space-around;
            }

            .lista-transacciones .titulo {
                font-size: xx-large;
                text-align: center;
            }

            .Transaccion {
                text-align: left;
                margin-bottom: 16px;
                padding: 10px 20px;
                border-radius: 20px;
                border: 4px solid;
                box-shadow: 5px 5px 8px rgb(223, 223, 223);
            }

            .Transaccion .Titulo {
                font-weight: bold;
                margin: 0px;
            }

            .Transaccion .Subtitulo {
                font-size: 13px;
                margin: 0px;
            }

            .Transaccion .Descripcion {
                font-size: 12px;
                margin: 0px;
            }

            .Gasto {
                border-color: rgb(255, 0, 0);
            }

            .Ingreso {
                border-color: rgb(24, 197, 44);
            }

            .Transferencia {
                border-color: rgb(102, 204, 255);
            }
        </style>

        <title>Prueba</title>
    </head>
    <body>
        {% include "../nav.html" %}
        <div id="app" class="p-3">
            <div class="row">
                <!-- Columna Perfiles -->
                <div class="col-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Perfil</th>
                                <th>Saldo</th>
                            </tr>
                        </thead>
                        <tbody v-for="perfil in lista_perfiles">
                            <tr>
                                <td>[[perfil.nombre]]</td>
                                <td>Q[[ perfil.saldo ]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Columna Cuentas -->
                <div class="col-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Cuenta</th>
                                <th>Saldo</th>
                            </tr>
                        </thead>
                        <tbody v-for="cuenta in lista_cuentas">
                            <tr>
                                <td>[[cuenta.nombre]]</td>
                                <td>Q[[ cuenta.saldo_total ]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
                <!-- Columna transacciones -->
                <div class="col-4">
                    <div v-for="transaccion in transacciones" class="col-12 Transaccion" :class="tipoTransaccion(transaccion)">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <p class="Titulo">[[ tipoTransaccion(transaccion) ]]</p>
                                    <p class="Subtitulo">[[ tituloDinamico(transaccion)[0] ]]</p>
                                    <p class="Subtitulo">[[ tituloDinamico(transaccion)[1] ]]</p>
                                </div>
                                <div class="col-6 text-end">
                                    <p class="Titulo">Q[[ transaccion.monto ]]</p>
                                </div>
                            </div>
                            <p class="Descripcion">[[ transaccion.descripcion ]]</p>
                            <!-- <div class="card-body">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script>
            new Vue({
                el: '#app',
                delimiters: ["[[", "]]"],
                data(){
                    return{
                        lista_gastos: [],
                        lista_ingresos: [],
                        lista_transferencias: [],
                        lista_perfiles: [],
                        lista_cuentas: [],
                        transacciones: [],
                    }
                },
                methods: {
                    hoy(fecha = new Date()){
                        console.log("cambiar formato: " + fecha)
                        formato = "yyyy-MM-dd"
                        dia = fecha.getDate()
                        dia = (dia < 10)? "0" + dia : dia;
                        mes = fecha.getMonth() + 1;
                        mes = (mes < 10)? "0" + mes : mes;

                        nueva_fecha = formato.replace("yyyy", fecha.getFullYear())
                            .replace("MM", mes)
                            .replace("dd", dia);
                        
                        console.log(nueva_fecha)
                        return nueva_fecha
                    },
                    tipoTransaccion(transaccion){
                        if(transaccion.perfilBeneficiario && transaccion.cuentaBeneficiaria) return "Ingreso"
                        if(transaccion.perfilOrdenante && transaccion.cuentaOrdenante) return "Gasto"
                        return "Transferencia"
                    },
                    descripcionDinamica(transaccion){
                        tipo = this.tipoTransaccion(transaccion)
                        descripcion = ""
                        
                        switch(tipo){
                            case "Ingreso":
                                descripcion = transaccion.beneficiario_nombre + " +Q" + transaccion.monto
                                break;

                            case "Gasto":
                                descripcion = transaccion.ordenante_nombre + " -Q" + transaccion.monto
                                break;

                            case "Transferencia":
                                descripcion = "Q" + transaccion.monto + " De: " + transaccion.ordenante_nombre + " A: " + transaccion.beneficiario_nombre
                                break;
                        }

                        return descripcion
                    },
                    tituloDinamico(transaccion){
                        tipo = this.tipoTransaccion(transaccion)
                        titulo = []
                        
                        switch(tipo){
                            case "Ingreso":
                                titulo.push(transaccion.beneficiario_nombre)
                                break;
                                
                                case "Gasto":
                                titulo.push(transaccion.ordenante_nombre)
                                break;

                            case "Transferencia":
                                titulo.push("De: " + transaccion.ordenante_nombre)
                                titulo.push("A: " + transaccion.beneficiario_nombre)
                                break;
                        }

                        return titulo
                    },
                    async cargarGastos(){
                        const response = await fetch("../api/gasto/")
                        this.lista_gastos = await response.json()
                    },
                    async cargarPerfiles(){
                        const response = await fetch("../api/perfil/")
                        this.lista_perfiles = await response.json()
                    },
                    async cargarCuentas(){
                        const response = await fetch("../api/cuenta/")
                        this.lista_cuentas = await response.json()
                    },
                    async cargarTransacciones(){
                        const response = await fetch("../api/transaccion/?fechaInicio=" + this.hoy() + "&fechaFinal=" + this.hoy())
                        this.transacciones = await response.json()
                    },
                    async cargarIngresos(){
                        const response = await fetch("../api/ingreso/")
                        this.lista_ingresos = await response.json()
                    },
                    async cargarTransferencias(){
                        const response = await fetch("../api/transferencia/")
                        this.lista_transferencias = await response.json()
                    },
                },
                created(){
                    // this.cargarGastos()
                    // this.cargarIngresos()
                    // this.cargarTransferencias()
                    this.cargarTransacciones()
                    this.cargarPerfiles()
                    this.cargarCuentas()
                }
            })
        </script>
    </body>
</html>