<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Crear Transacción</title>
    </head>
    <body>
        {% include "../nav.html" %}
        <div id="app">
            <div id="Alerta" style="position: fixed; top: 0; width: 100%; z-index: 101;">
            </div>
            <!-- Botones de selección de transacción -->
            <div class="row d-flex justify-content-evenly">
                <!-- Botón de gasto -->
                <div class="col-1">
                    <button type="button" v-if="transaccion == 'gasto'" class="btn btn-success">Gasto</button>
                    <button type="button" @click="cambiarTransaccion('gasto')" class="btn btn-outline-success" v-else>Gasto</button>
                </div>
                <!-- Botón de ingreso -->
                <div class="col-1">
                    <button type="button" v-if="transaccion == 'ingreso'" class="btn btn-success">Ingreso</button>
                    <button type="button" @click="cambiarTransaccion('ingreso')" class="btn btn-outline-success" v-else>Ingreso</button>
                </div>
                <!-- Botón de transferencia -->
                <div class="col-1">
                    <button type="button" v-if="transaccion == 'transferencia'" class="btn btn-success">Transferencia</button>
                    <button type="button" @click="cambiarTransaccion('transferencia')" class="btn btn-outline-success" v-else>Transferencia</button>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-11 p-5" id="container" style="margin-top: 13px;">
                    <!-- Formulario para gastos e ingresos -->
                    <div class="form-control m-3" v-if="transaccion != 'transferencia'">
                        <!-- Cuenta -->
                        <div class="row d-flex align-content-center mb-2">
                            <div class="col-1">
                                <label for="subcuenta">Cuenta:</label>
                            </div>
                            <div class="col-6">
                                <select class="form-select" v-model="obj_transaccion.cuentaOrdenante" name="cuenta">
                                    <option v-for="cuenta in lista_cuentas" :value="cuenta.id">[[cuenta.nombre]]: Q[[ cuenta.saldo_total ]]</option>
                                </select>
                            </div>
                        </div>
                        <!-- Perfil -->
                        <div class="row d-flex align-content-center mb-2">
                            <div class="col-1">
                                <label for="subcuenta">Perfil:</label>
                            </div>
                            <div class="col-6">
                                <select class="form-select" v-model="obj_transaccion.perfilOrdenante" name="perfil">
                                    <option v-for="perfil in lista_perfiles" :value="perfil.id">[[perfil.nombre]]: Q[[ perfil.saldo ]]</option>
                                </select>
                            </div>
                        </div>
                        <!-- Subucuenta y monto -->
                        <div class="row">
                            <div class="col-6">
                                <label for="monto">monto: <input type="number" min="1" v-model="obj_transaccion.monto" id="monto"></label>
                            </div>
                        </div>
                        <!-- Categorias -->
                        <div class="row">
                            <div class="col-6">
                                <p>Categorias: </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-select" v-model="obj_transaccion.categoria" name="categoria" aria-label="Default select example">
                                    <option v-for="categoria in lista_categorias" :value="categoria.id">[[ categoria.nombre ]]</option>
                                </select>
                            </div>
                        </div>
                        <!-- Fecha -->
                        <div class="row">
                            <div class="col-1">
                                <label>Fecha:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input type="date" v-model="obj_transaccion.fecha">
                            </div>
                        </div>
                        <!-- Descripcion -->
                        <div class="row">
                            <div>
                                <label for="descricpion">Descripcion: </label>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" v-model="obj_transaccion.descripcion" id="descripcion" style="margin: 0px 10px 10px 10px;"></textarea>
                            </div>
                        </div>
                        <!-- Boton -->
                        <div>
                            <button type="button" @click="crearTransaccion()" class="btn btn-success">Crear [[transaccion]]</button>
                        </div>
                    </div>
                    <div v-else>
                        <!-- Monto -->
                        <div class="row">
                            <div class="col-1">
                                <label for="montoTransferencia">monto:</label>
                            </div>
                            <div class="col-1">
                                <input type="number" v-model="obj_transaccion.monto" id="montoTransferencia" min="1">
                            </div>
                        </div>
                        <div class="row my-2">
                            <!-- Ordenante -->
                            <div class="col border">
                                <div class="row">
                                    <div class="col-1">
                                        <p>De:</p>
                                    </div>
                                </div>
                                <!-- Cuenta -->
                                <div class="row d-flex align-content-center mb-2">
                                    <div class="col-2">
                                        <label for="subcuenta">Cuenta:</label>
                                    </div>
                                    <div class="col-10">
                                        <select class="form-select" v-model="obj_transaccion.cuentaOrdenante" name="cuenta">
                                            <option v-for="cuenta in lista_cuentas" :value="cuenta.id">[[cuenta.nombre]]: Q[[ cuenta.saldo_total ]]</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Perfil -->
                                <div class="row d-flex align-content-center mb-2">
                                    <div class="col-2">
                                        <label for="perfil">Perfil:</label>
                                    </div>
                                    <div class="col-10">
                                        <select class="form-select" v-model="obj_transaccion.perfilOrdenante" name="perfil">
                                            <option v-for="perfil in lista_perfiles" :value="perfil.id">[[perfil.nombre]]: Q[[ perfil.saldo ]]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Beneficiario -->
                            <div class="col border ms-2">
                                <div class="row">
                                    <div class="col-1">
                                        <p>Para:</p>
                                    </div>
                                </div>
                                <!-- Cuenta -->
                                <div class="row d-flex align-content-center mb-2">
                                    <div class="col-2">
                                        <label for="subcuenta">Cuenta:</label>
                                    </div>
                                    <div class="col-10">
                                        <select class="form-select" v-model="obj_transaccion.cuentaBeneficiaria" name="cuenta">
                                            <option v-for="cuenta in lista_cuentas" :value="cuenta.id">[[cuenta.nombre]]: Q[[ cuenta.saldo_total ]]</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Perfil -->
                                <div class="row d-flex align-content-center mb-2">
                                    <div class="col-2">
                                        <label for="perfil">Perfil:</label>
                                    </div>
                                    <div class="col-10">
                                        <select class="form-select" v-model="obj_transaccion.perfilBeneficiario" name="perfil">
                                            <option v-for="perfil in lista_perfiles" :value="perfil.id">[[perfil.nombre]]: Q[[ perfil.saldo ]]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Categorias -->
                        <div class="row">
                            <div class="col-6">
                                <p>Categorias: </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-select" v-model="obj_transaccion.categoria" name="categoria" aria-label="Default select example">
                                    <option v-for="categoria in lista_categorias" :value="categoria.id">[[ categoria.nombre ]]</option>
                                </select>
                            </div>
                        </div>
                        <!-- Fecha -->
                        <div class="row">
                            <div class="col-6">
                                <label>Fecha</label>
                            </div>
                            <div class="col-6">
                                <input type="date" v-model="obj_transaccion.fecha">
                            </div>
                        </div>
                        <!-- Descripcion -->
                        <div class="row">
                            <div>
                                <label for="descripcionTransferencia">Descripción: </label>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" v-model="obj_transaccion.descripcion" id="descripcionTransferencia" style="margin: 0px 10px 10px 10px;"></textarea>
                            </div>
                        </div>
                        <!-- Boton -->
                        <div>
                            <button type="button" @click="crearTransaccion()" class="btn btn-success">Crear Transferencia</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script>
            new Vue({
                el: "#app",
                delimiters: ['[[', ']]'],
                data() {
                    return {
                        transaccion: "gasto",
                        lista_subcuentas: [],
                        lista_perfiles: [],
                        lista_cuentas: [],
                        lista_categorias: [],
                        lista_ordenantes: [],
                        lista_beneficiarios: [],
                        obj_transaccion: {
                            id: "",
                            monto: 1,
                            ordenante: "",
                            fecha: this.hoy(),
                            cuentaOrdenante: "",
                            perfilOrdenante: "",
                            cuentaBeneficiaria: "",
                            perfilBeneficiario: "",
                            descripcion: ""
                        }
                    }
                },
                computed:{
                    cargarOrdenantes(){
                        return this.lista_subcuentas.filter(x => x.id != this.obj_transaccion.beneficiario)
                    },
                    cargarBeneficiarios(){
                        return this.lista_subcuentas.filter(x => x.id != this.obj_transaccion.ordenante)
                    }
                },
                methods: {
                    hoy(fecha = new Date()){
                        formato = "yyyy-MM-dd"
                        dia = fecha.getDate()
                        dia = (dia < 10)? "0" + dia : dia;
                        mes = fecha.getMonth() + 1;
                        mes = (mes < 10)? "0" + mes : mes;

                        nueva_fecha = formato.replace("yyyy", fecha.getFullYear())
                            .replace("MM", mes)
                            .replace("dd", dia);
                        
                        return nueva_fecha
                    },
                    async obtenerSubcuentas(){
                        const response = await fetch("../../api/subcuenta/");
                        this.lista_subcuentas = await response.json();
                        this.obj_transaccion.subcuenta = (this.lista_subcuentas.length > 0)? this.lista_subcuentas[0].id : null
                    },
                    async obtenerPerfiles(){
                        const response = await fetch("../../api/perfil/");
                        this.lista_perfiles = await response.json();
                        this.obj_transaccion.perfil = (this.lista_perfiles.length > 0)? this.lista_perfiles[0].id : null
                    },
                    async obtenerCuentas(){
                        const response = await fetch("../../api/cuenta/");
                        this.lista_cuentas = await response.json();
                        this.obj_transaccion.cuenta = (this.lista_cuentas.length > 0)? this.lista_cuentas[0].id : null
                    },
                    async obtenerCategorias(){
                        const response = await fetch("../../api/categoria/");
                        this.lista_categorias = await response.json();
                        this.obj_transaccion.categoria = (this.lista_categorias.length > 0)? this.lista_categorias[0].id : null
                    },
                    cambiarTransaccion(transaccion){
                        this.transaccion = transaccion
                    },
                    async obtenerId(){
                        const url = window.location.href;
                        const lastSlashIndex = url.lastIndexOf("/");
                        secondLastSlashIndex = url.lastIndexOf("/", lastSlashIndex - 1);
                        if(lastSlashIndex > secondLastSlashIndex){
                            if(parseInt(url.substring(secondLastSlashIndex +1, lastSlashIndex)) != 0){
                                this.obj_transaccion.subcuenta = parseInt(url.substring(secondLastSlashIndex +1, lastSlashIndex))
                                this.obj_transaccion.ordenante = parseInt(url.substring(secondLastSlashIndex +1, lastSlashIndex))
                            }else{

                            }
                        }
                    },
                    async crearTransaccion(){

                        if(this.transaccion != "transferencia"){
                            if(this.obj_transaccion.perfilOrdenante == ""){
                                this.activarAlert("danger", "Necesita agregar un <strong>perfil</strong> para crear una transacción")
                                return
                            }
                            else if(this.obj_transaccion.cuentaOrdenante == ""){
                                this.activarAlert("danger", "Necesita agregar una <strong>cuenta</strong> para crear una transacción")
                                return
                            }
                        }
                        else {
                            if(this.obj_transaccion.cuentaOrdenante == "" && this.obj_transaccion.perfilOrdenante == ""){
                                this.activarAlert("danger", "Necesita agregar al menos una entidad como ordenante")
                                return
                            }
                            
                            if(this.obj_transaccion.cuentaBeneficiaria == "" && this.obj_transaccion.perfilBeneficiario == ""){
                                this.activarAlert("danger", "Necesita agregar al menos una entidad como beneficiario")
                                return
                            }
                            
                            if(this.obj_transaccion.cuentaOrdenante != "" && this.obj_transaccion.cuentaBeneficiaria == ""){
                                this.activarAlert("danger", "Necesita agregar una <strong>cuenta beneficiaria</strong> para crear una transacción")
                                return
                            }
                            
                            if(this.obj_transaccion.perfilOrdenante != "" && this.obj_transaccion.perfilBeneficiario == ""){
                                this.activarAlert("danger", "Necesita agregar una <strong>perfil beneficiario</strong> para crear una transacción")
                                return
                            }
                            
                            if(this.obj_transaccion.cuentaOrdenante == "" && this.obj_transaccion.cuentaBeneficiaria != ""){
                                this.activarAlert("danger", "Necesita agregar una <strong>cuenta ordenante</strong> para crear una transacción")
                                return
                            }
                            
                            if(this.obj_transaccion.perfilOrdenante == "" && this.obj_transaccion.perfilBeneficiario != ""){
                                this.activarAlert("danger", "Necesita agregar una <strong>perfil ordenante</strong> para crear una transacción")
                                return
                            }
                        }
                        
                        if(this.obj_transaccion.categoria == null && this.transaccion != "transferencia"){
                            this.activarAlert("danger", "Necesita crear una <strong>categoría</strong> para crear una transacción")
                        }
                        else if(this.obj_transaccion.fecha == ""){
                            this.activarAlert("danger", "Necesita agregar una <strong>fecha</strong> para crear una transferencia")
                        }
                        else{  
                            if(this.transaccion == "gasto"){
                                this.obj_transaccion.perfilBeneficiario = ""
                                this.obj_transaccion.cuentaBeneficiaria = ""
                            } 
                            else if(this.transaccion == "ingreso") {
                                this.obj_transaccion.perfilBeneficiario = this.obj_transaccion.perfilOrdenante
                                this.obj_transaccion.cuentaBeneficiaria = this.obj_transaccion.cuentaOrdenante
                                this.obj_transaccion.perfilOrdenante = ""
                                this.obj_transaccion.cuentaOrdenante = ""
                            }

                            parts = this.obj_transaccion.monto.toString().split('.');
                            if(parts.length > 1) {
                                this.obj_transaccion.monto = `${parts[0]}.${parts[1].slice(0, 2)}`;
                            }
                            formData = new FormData()
                            formData.append("perfilOrdenante", this.obj_transaccion.perfilOrdenante)
                            formData.append("perfilBeneficiario", this.obj_transaccion.perfilBeneficiario)
                            formData.append("cuentaOrdenante", this.obj_transaccion.cuentaOrdenante)
                            formData.append("cuentaBeneficiaria", this.obj_transaccion.cuentaBeneficiaria)
                            formData.append("monto", this.obj_transaccion.monto)
                            formData.append("categoria", this.obj_transaccion.categoria)
                            formData.append("fecha", this.obj_transaccion.fecha)
                            formData.append("descripcion", this.obj_transaccion.descripcion)
                            
                            await fetch("../../api/transaccion-crear/", {
                                method: "POST",
                                headers: {
                                    "X-CSRFToken": Cookies.get("csrftoken")
                                }, body: formData
                            })
                            
                            this.obj_transaccion= {
                            id: "",
                            monto: 1,
                            fecha: this.hoy(),
                            cuentaOrdenante: "",
                            categoria: this.obj_transaccion.categoria,
                            perfilOrdenante: "",
                            cuentaBeneficiaria: "",
                            perfilBeneficiario: "",
                            descripcion: ""
                            }
                            await this.obtenerCuentas()
                            await this.obtenerPerfiles()
                        
                            this.activarAlert("success", "¡Se ha creado el <strong>"+this.transaccion+"</strong> correctamente!")
                        }
                    },
                    activarAlert(type, message){
                        alerta = document.getElementById("Alerta")
                        alerta.innerHTML = [
                            `<div class="alert alert-${type} alert-dismissible" id="alert-body" role="alert" style="width: 50%; margin: 0 auto;">`,
                            `   <p style="text-align: center;">${message}</p>`,
                            '   <button type="button" id="cerrar_alerta" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                            '</div>'].join(''   )
                            setTimeout(() => {
                                if(document.getElementById("alert-body")){
                                    document.getElementById("cerrar_alerta").click()
                                }
                            }, 4000)
                    }
                },
                async created(){
                    await this.obtenerSubcuentas()
                    await this.obtenerPerfiles()
                    await this.obtenerCuentas()
                    this.obtenerCategorias()
                    this.obtenerId()
                }
            })
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
</html>