<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>Ver Transacciones</title>
    </head>
    <body>
        {% include "../nav.html" %}
        <div id="app">
            <div id="Alerta" style="position: fixed; top: 0; width: 100%; z-index: 101;"></div>
            <div class="container">
                <!-- Botones de selección de transacción -->
                <div class="row text-center" style="margin-top: 10px;">
                    <!-- espaciador -->
                    <div class="col-1"></div>
                    <!-- Botón de gasto -->
                    <div class="col-3">
                        <button type="button" v-if="transaccion == 'gasto'" class="btn btn-success">Gasto</button>
                        <button type="button" @click="cambiarTransaccion('gasto')" class="btn btn-outline-success" v-else>Gasto</button>
                    </div>
                    <!-- Botón de ingreso -->
                    <div class="col-3">
                        <button type="button" v-if="transaccion == 'ingreso'" class="btn btn-success">Ingreso</button>
                        <button type="button" @click="cambiarTransaccion('ingreso')" class="btn btn-outline-success" v-else>Ingreso</button>
                    </div>
                    <!-- Botón de transferencia -->
                    <div class="col-3">
                        <button type="button" v-if="transaccion == 'transferencia'" class="btn btn-success">Transferencia</button>
                        <button type="button" @click="cambiarTransaccion('transferencia')" class="btn btn-outline-success" v-else>Transferencia</button>
                    </div>
                </div>
                <!-- Filtros -->
                <div class="Filtros">
                    <div class="row">
                        <div class="col">
                            <h4>Fecha</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button @click="sumarDias(-1)" class="btn-primary">&#9668;</button>
                        </div>
                        <div class="col">
                            <input type="date" v-model="fecha" v-on:change="guardarFiltros()">
                        </div>
                        <div class="col">
                            <button @click="sumarDias(1)" class="btn-primary">&#9658;</button>
                        </div>
                    </div>
                    <h4 v-if="transaccion != 'transferencia'">
                        Subcuentas:
                        <button data-bs-toggle="modal" data-bs-target="#FiltroSubcuentas">
                            <i class='bx bx-filter' style="color: gray;"></i>
                        </button>
                        Categorías:
                        <button data-bs-toggle="modal" data-bs-target="#FiltroCategorias">
                            <i class='bx bx-filter' style="color: gray;"></i>
                        </button>
                    </h4>
                    <h4 v-else>
                        Ordenantes:
                        <button data-bs-toggle="modal" data-bs-target="#filtroOrdenantes">
                            <i class='bx bx-filter' style="color: gray;"></i>
                        </button>
                        Beneficiarios:
                        <button data-bs-toggle="modal" data-bs-target="#filtroBeneficiarios">
                            <i class='bx bx-filter' style="color: gray;"></i>
                        </button>
                    </h4>
                </div>
                <!-- Tabla de transacciones -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Monto</th>
                            <th v-if="transaccion == 'transferencia'">Ordenante</th>
                            <th v-if="transaccion == 'transferencia'">Beneficiario</th>
                            <th v-if="transaccion != 'transferencia'">Subcuenta</th>
                            <th v-if="transaccion != 'transferencia'">Categoría</th>
                            <th>Fecha</th>
                            <th>Descripción</th>
                            <th v-if="transaccion != 'transferencia'">Saldo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="x in lista_filtrada">
                            <td>Q[[ x.monto ]]</td>
                            <td v-if="transaccion == 'transferencia'">[[ x.nombre_ordenante ]]</td>
                            <td v-if="transaccion == 'transferencia'">[[ x.nombre_beneficiario ]]</td>
                            <td v-if="transaccion != 'transferencia'">[[ x.nombre_subcuenta ]]</td>
                            <td v-if="transaccion != 'transferencia'">[[ x.nombre_categoria ]]</td>
                            <td>[[ x.fecha ]]</td>
                            <td>[[ x.descripcion ]]</td>
                            <td v-if="transaccion != 'transferencia' && x.saldo_actual >= 0">Q[[ x.saldo_actual ]]</td>
                            <td v-if="transaccion != 'transferencia' && x.saldo_actual < 0">-Q[[ x.saldo_actual * -1]]</td>
                            <td>
                                <a v-if="transaccion != 'transferencia'" :href="'/Modificar_Transaccion/'+transaccion+'/'+x.id+'/'" type="button" class="btn btn-link">
                                    <i class="bx bxs-pencil" style="margin: -15px; color:#faf623; font-size: 38px;"></i>
                                </a>
                                <a v-else :href="'/Modificar_Transferencia/'+x.id+'/'" type="button" class="btn btn-link">
                                    <i class="bx bxs-pencil" style="margin: -15px; color:#faf623; font-size: 38px;"></i>
                                </a>
                                <button type="button" @click="cargarTransaccion(x)" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#eliminarTransaccion">
                                <i class="bx bxs-x-circle" style="margin: -15px; color:#ff0000; font-size: 38px;"></i>
                                </button >
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modals">
                <!-- Modal Eliminar Transaccion -->
                <div class="modal fade" id="eliminarTransaccion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar [[ transaccion ]]</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                Esta seguro que desea eliminar la transacción?
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cerrar_eliminarTransaccion" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" @click="eliminarTransaccion()" class="btn btn-primary">Eliminar [[ transaccion ]]</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Filtro Subcuentas -->
                <div class="modal fade" id="FiltroSubcuentas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Subcuentas</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                <input type="checkbox" @click="seleccionarTodasLasOpciones('subcuenta')" checked="true" id="todasLasSubcuentas">
                                <label for="todasLasSubcuentas">&nbsp;&nbsp;Todas</label>
                            </div>
                            <div class="modal-body" v-for="subcuenta in lista_subcuentas">
                                <input type="checkbox" @click="actualizarCheckTodos('subcuenta')" checked="true" :id="'subcuenta'+subcuenta.id">
                                <label :for="'subcuenta'+subcuenta.id">&nbsp;&nbsp;[[ subcuenta.nombre ]]</label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cerrar_filtroSubcuentas" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" @click="guardarFiltros('subcuenta')" class="btn btn-primary">Guardar Filtros</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Filtro Categorías -->
                <div class="modal fade" id="FiltroCategorias" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Categorías</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                <input type="checkbox" @click="seleccionarTodasLasOpciones('categoria')" checked="true" id="todasLasCategorias">
                                <label for="todasLasCategorias">&nbsp;&nbsp;Todas</label>
                            </div>
                            <div class="modal-body" v-for="categoria in lista_categorias">
                                <input type="checkbox" @click="actualizarCheckTodos('categoria')" checked="true" :id="'categoria'+categoria.id">
                                <label :for="'categoria'+categoria.id">&nbsp;&nbsp;[[ categoria.nombre ]]</label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cerrar_filtroCategorias" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" @click="guardarFiltros('categoria')" class="btn btn-primary">Guardar Filtros</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Filtro Ordenantes -->
                <div class="modal fade" id="filtroOrdenantes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Ordenantes</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                <input type="checkbox" @click="seleccionarTodasLasOpciones('ordenante')" checked="true" id="todosLosOrdenantes">
                                <label for="todosLosOrdenantes">&nbsp;&nbsp;Todas</label>
                            </div>
                            <div class="modal-body" v-for="subcuenta in lista_subcuentas">
                                <input type="checkbox" @click="actualizarCheckTodos('ordenante')" checked="true" :id="'ordenante'+subcuenta.id">
                                <label :for="'ordenante'+subcuenta.id">&nbsp;&nbsp;[[ subcuenta.nombre ]]</label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cerrar_filtroOrdenantes" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" @click="guardarFiltros('ordenante')" class="btn btn-primary">Guardar Filtros</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Filtro Beneficiarios -->
                <div class="modal fade" id="filtroBeneficiarios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Beneficiarios</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                <input type="checkbox" @click="seleccionarTodasLasOpciones('beneficiario')" checked="true" id="todosLosBeneficiarios">
                                <label for="todosLosBeneficiarios">&nbsp;&nbsp;Todas</label>
                            </div>
                            <div class="modal-body" v-for="subcuenta in lista_subcuentas">
                                <input type="checkbox" @click="actualizarCheckTodos('beneficiario')" checked="true" :id="'beneficiario'+subcuenta.id">
                                <label :for="'beneficiario'+subcuenta.id">&nbsp;&nbsp;[[ subcuenta.nombre ]]</label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cerrar_filtroBeneficiarios" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" @click="guardarFiltros('beneficiario')" class="btn btn-primary">Guardar Filtros</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script>
            new Vue({
                el: "#app",
                delimiters: ['[[', ']]'],
                data() {
                    return{
                        transaccion: "gasto",
                        fecha: this.cambiarFormato(),
                        lista_transacciones: [],
                        lista_subcuentas: [],
                        lista_categorias: [],
                        lista_filtrada: [],
                        filtroSubcuentas: [],
                        filtroCategorias: [],
                        filtroOrdenantes: [],
                        filtroBeneficiarios: [],
                        obj_transaccion: {
                            id: ""
                        }
                    }
                },
                methods: {
                    cambiarFormato(fecha = new Date()){
                        console.log("cambiar formato: " + fecha)
                        formato = "yyyy-MM-dd"
                        dia = fecha.getDate()
                        dia = (dia < 10)? "0" + dia : dia;
                        mes = fecha.getMonth() + 1;
                        mes = (mes < 10)? "0" + mes : mes;

                        nueva_fecha = formato.replace("yyyy", fecha.getFullYear())
                            .replace("MM", mes)
                            .replace("dd", dia);
                        
                        console.log(nueva_fecha)
                        return nueva_fecha
                    },
                    async obtenerGastos(){
                        const response = await fetch("../../api/gasto/")
                        this.lista_transacciones = await response.json()
                        this.lista_filtrada = this.lista_transacciones
                    },
                    async obtenerIngresos(){
                        const response = await fetch("../../api/ingreso/")
                        this.lista_transacciones = await response.json()
                        this.lista_filtrada = this.lista_transacciones
                    },
                    async obtenerTransferencias(){
                        const response = await fetch("../../api/transferencia/")
                        this.lista_transacciones = await response.json()
                        this.lista_filtrada = this.lista_transacciones
                    },
                    async obtenerCategorias(){
                        const response = await fetch("../../api/categoria/")
                        this.lista_categorias = await response.json()
                        for(x of this.lista_categorias){
                            this.filtroCategorias.push(x.id)
                        }
                    },
                    async obtenerSubcuentas(){
                        const response = await fetch("../../api/subcuenta/")
                        this.lista_subcuentas = await response.json()
                        for(x of this.lista_subcuentas){
                            this.filtroOrdenantes.push(x.id)
                            this.filtroBeneficiarios.push(x.id)
                        }
                    },
                    async obtenerId(){
                        const url = window.location.href;
                        const lastSlashIndex = url.lastIndexOf("/");
                        secondLastSlashIndex = url.lastIndexOf("/", lastSlashIndex - 1);
                        if(lastSlashIndex > secondLastSlashIndex){
                            if(parseInt(url.substring(secondLastSlashIndex +1, lastSlashIndex)) != 0){
                                this.filtroSubcuentas = []
                                this.filtroSubcuentas.push(parseInt(url.substring(secondLastSlashIndex +1, lastSlashIndex)))
                            }else{
                                for(x of this.lista_subcuentas){
                                    this.filtroSubcuentas.push(x.id)
                                }
                            }
                        }
                        else{
                            for(x of this.lista_subcuentas){
                                this.filtroSubcuentas.push(x.id)
                            }
                        }
                    },
                    async actualizarCheckTodos(filtro){
                        switch(filtro){
                            case "subcuenta":
                                response = await fetch("../../api/subcuenta/")
                                response = await response.json()

                                validador = true
                                for(x of response){
                                    if(!document.getElementById("subcuenta"+x.id).checked){
                                        validador = false
                                        break
                                    }
                                }
                                document.getElementById("todasLasSubcuentas").checked = validador
                                break

                            case "categoria":
                                response = await fetch("../../api/categoria/")
                                response = await response.json()

                                validador = true
                                for(x of response){
                                    if(!document.getElementById("categoria"+x.id).checked){
                                        validador = false
                                        break
                                    }
                                }
                                document.getElementById("todasLasCategorias").checked = validador
                                break

                            case "ordenante":
                            response = await fetch("../../api/subcuenta/")
                                response = await response.json()

                                validador = true
                                for(x of response){
                                    if(!document.getElementById("ordenante"+x.id).checked){
                                        validador = false
                                        break
                                    }
                                }
                                document.getElementById("todosLosOrdenantes").checked = validador
                                break

                            case "beneficiario":
                                response = await fetch("../../api/subcuenta/")
                                response = await response.json()

                                validador = true
                                for(x of response){
                                    if(!document.getElementById("beneficiario"+x.id).checked){
                                        validador = false
                                        break
                                    }
                                }
                                document.getElementById("todosLosBeneficiarios").checked = validador
                                break
                        }

                    },
                    async seleccionarTodasLasOpciones(filtro){
                        switch(filtro){
                            case "subcuenta":
                                response = await fetch("../../api/subcuenta/")
                                response = await response.json()

                                for(x of response){
                                    if(document.getElementById("todasLasSubcuentas").checked){
                                        document.getElementById("subcuenta"+x.id).checked = true
                                    }
                                    else{
                                        document.getElementById("subcuenta"+x.id).checked = false
                                    }
                                }
                                break

                            case "categoria":
                            response = await fetch("../../api/categoria/")
                                response = await response.json()

                                for(x of response){
                                    if(document.getElementById("todasLasCategorias").checked){
                                        document.getElementById("categoria"+x.id).checked = true
                                    }
                                    else{
                                        document.getElementById("categoria"+x.id).checked = false
                                    }
                                }
                                break

                            case "ordenante":
                                response = await fetch("../../api/subcuenta/")
                                response = await response.json()

                                for(x of response){
                                    if(document.getElementById("todosLosOrdenantes").checked){
                                        document.getElementById("ordenante"+x.id).checked = true
                                    }
                                    else{
                                        document.getElementById("ordenante"+x.id).checked = false
                                    }
                                }
                                break

                            case "beneficiario":
                                response = await fetch("../../api/subcuenta/")
                                response = await response.json()

                                for(x of response){
                                    if(document.getElementById("todosLosBeneficiarios").checked){
                                        document.getElementById("beneficiario"+x.id).checked = true
                                    }
                                    else{
                                        document.getElementById("beneficiario"+x.id).checked = false
                                    }
                                }
                                break
                        }
                    },
                    async guardarFiltros(filtro = ""){
                        switch(filtro){
                            case "subcuenta": 
                                response = await fetch("../../api/subcuenta/")
                                response = await response.json()

                                this.filtroSubcuentas = []
                                for(x of response){
                                    if(document.getElementById("subcuenta"+x.id).checked){
                                        this.filtroSubcuentas.push(x.id)
                                    }
                                }
                                document.getElementById("cerrar_filtroSubcuentas").click()
                                break

                            case "categoria":
                                response = await fetch("../../api/categoria/")
                                response = await response.json()

                                this.filtroCategorias = []
                                for(x of response){
                                    if(document.getElementById("categoria"+x.id).checked){
                                        this.filtroCategorias.push(x.id)
                                    }
                                }
                                document.getElementById("cerrar_filtroCategorias").click()
                                break

                            case "ordenante":
                                response = await fetch("../../api/subcuenta/")
                                response = await response.json()

                                this.filtroOrdenantes = []
                                for(x of response){
                                    if(document.getElementById("ordenante"+x.id).checked){
                                        this.filtroOrdenantes.push(x.id)
                                    }
                                }
                                document.getElementById("cerrar_filtroOrdenantes").click()
                                break

                            case "beneficiario":
                                response = await fetch("../../api/subcuenta/")
                                response = await response.json()

                                this.filtroBeneficiarios = []
                                for(x of response){
                                    if(document.getElementById("beneficiario"+x.id).checked){
                                        this.filtroBeneficiarios.push(x.id)
                                    }
                                }
                                document.getElementById("cerrar_filtroBeneficiarios").click()
                                break
                        }

                        this.lista_filtrada = this.lista_transacciones
                        if(this.transaccion != "transferencia"){
                            this.lista_filtrada = this.lista_filtrada.filter((transaccion) => {
                                for(x of this.filtroSubcuentas){
                                    if(transaccion.subcuenta == x){
                                        return true
                                    }
                                }
                                return false
                            })
                            this.lista_filtrada = this.lista_filtrada.filter((transaccion) => {
                                for(x of this.filtroCategorias){
                                    if(transaccion.categoria == x){
                                        return true
                                    }
                                }
                                return false
                            })
                        }
                        else {
                            this.lista_filtrada = this.lista_filtrada.filter((transaccion) => {
                                for(x of this.filtroOrdenantes){
                                    if(transaccion.ordenante == x){
                                        return true
                                    }
                                }
                                return false
                            })
                            this.lista_filtrada = this.lista_filtrada.filter((transaccion) => {
                                for(x of this.filtroBeneficiarios){
                                    if(transaccion.beneficiario == x){
                                        return true
                                    }
                                }
                                return false
                            })
                        }
                        
                        this.lista_filtrada = this.lista_filtrada.filter((transaccion) => {
                            return (transaccion.fecha == this.fecha);
                        })
                    },
                    async cambiarTransaccion(transaccion = this.transaccion){
                        this.transaccion = transaccion
                        if(this.transaccion == "gasto"){
                            await this.obtenerGastos()
                        }
                        else if(this.transaccion == "ingreso"){
                            await this.obtenerIngresos()
                        }
                        else{
                            await this.obtenerTransferencias()
                        }
                        this.guardarFiltros()
                    },
                    cargarTransaccion(transaccion){
                        this.obj_transaccion = {
                            id: transaccion.id
                        }
                    },
                    async eliminarTransaccion(){
                        await fetch("../../api/" + this.transaccion + "/" + this.obj_transaccion.id + "/", {
                            method: "DELETE",
                            headers: {
                                "X-CSRFToken": Cookies.get("csrftoken")
                            }
                        })
                        document.getElementById("cerrar_eliminarTransaccion").click()
                        this.cambiarTransaccion(this.transaccion)
                        transaccionMensaje = (this.transaccion == "transferencia")? "la <strong>transferencia</strong>": "el <strong>" + this.transaccion + "</strong>"
                        this.activarAlert("success", "¡Se ha eliminado "+transaccionMensaje+" correctamente!")
                    },
                    activarAlert(type, message){
                        alerta = document.getElementById("Alerta")
                        alerta.innerHTML = [
                            `<div class="alert alert-${type} alert-dismissible" id="alert-body" role="alert" style="width: 50%; margin: 0 auto;">`,
                            `   <p style="text-align: center;">${message}</p>`,
                            '   <button type="button" id="cerrar_alerta" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                            '</div>'].join(''   )
                        setTimeout(() => {
                            if(document.getElementById("alert-body")){
                                document.getElementById("cerrar_alerta").click()
                            }
                        }, 4000)
                    },
                    sumarDias(dias){
                        nueva_fecha = this.fecha.replace("-", "/").replace("-", "/")
                        nueva_fecha = nueva_fecha.replace("/0", "/").replace("/0", "/")
                        nueva_fecha = new Date(nueva_fecha)
                        nueva_fecha = new Date(nueva_fecha.setDate(nueva_fecha.getDate() + dias));
                        this.fecha = this.cambiarFormato(nueva_fecha)
                        this.guardarFiltros()
                    }
                },
                async created(){

                    await this.obtenerSubcuentas()
                    this.obtenerCategorias()
                    await this.obtenerId()
                    await this.cambiarTransaccion()
                }
            })
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
</html>