{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <style>
            a {
                text-decoration: none;
            }


            h1, h3 {
                text-align: center;
            }

            .Lista_subcuenta {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .Subcuenta {
                height: 80px;
                width: 360px;
                border-radius: 6px;
                font-size: 18px;
                background-color: #bbe5a1;
                margin: 0px 5px 10px;
            }

            .newModal {
                position: fixed;
                font-family: Arial, Helvetica, sans-serif;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(0,0,0,0.8);
                z-index: 99999;
                opacity:0;
                transition: opacity 400ms ease-in;
                pointer-events: none;
            }

            .modalDialog {
                width: 400px;
                position: relative;
                margin: 10% auto;
                padding: 5px 20px 13px 20px;
                border-radius: 10px;
                background: #ffffff;
                transition: opacity 400ms ease-in;
            }

            .modalHeader{
                text-align:center;
                margin: 18px 0px;
            }

            .close {
                background: #ff0000;
                color: #FFFFFF;
                border: none;
                line-height: 25px;
                position: absolute;
                right: -12px;
                text-align: center;
                top: -10px;
                width: 24px;
                text-decoration: none;
                font-weight: bold;
                border-radius: 12px;
                box-shadow: 1px 1px 3px #000;
            }
            .close:hover { background: #00d9ff; }
        </style>

        <title>Cuentas</title>
    </head>
    <body>
        {% include "../nav.html" %}
        <div id="app">
            <div class="container" style="margin: 3px;">
                <div id="Alerta" style="position: fixed; top: 0; width: 100%; z-index: 101;"></div>
                <h1>
                    Página de Cuentas
                    <!-- Botón Crear Cuenta -->
                    <button class="btn btn-link" @click="cargarCuenta()" data-bs-toggle="modal" data-bs-target="#CrearCuenta">
                        <i class="bx bxs-plus-square" style="color:#23c933; font-size: 48px;"></i>
                    </button>
                </h1>
                <!-- Contenedor para cuentas y transacciones -->
                <div class="row">
                    <div class="col-11">
                        <div v-for="cuenta in lista_cuentas" class="border border-dark-subtle border-2 p-4 mb-3" style="border-radius: 10px;">
                            <!-- Datos de la cuenta -->
                            <div class="row Cuenta">
                                <!-- Nombre Cuentas -->
                                <h3>
                                    [[ cuenta.nombre ]] Q[[ cuenta.saldo_total ]]
                                    <button type="button" @click="cargarCuenta(cuenta)" data-bs-toggle="modal" data-bs-target="#modificarCuenta" class="btn btn-link">
                                        <i class="bx bxs-pencil" style="margin: -15px; color:#faf623; font-size: 38px;"></i>
                                    </button >
                                    <button type="button" @click="cargarCuenta(cuenta)" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#eliminarCuenta">
                                        <i class="bx bxs-x-circle" style="margin: -15px; color:#ff0000; font-size: 38px;"></i>
                                    </button >
                                    <button type="button" v-if="cuenta.es_efectivo" @click="cargarCuenta(cuenta)" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#cuentaEfectivo">
                                        <i class="bx bxs-wallet" style="margin: -15px; color:#51340c; font-size: 38px;"></i>
                                    </button >
                                </h3>
                            </div>
                            <!-- Datos de las subcuentas -->
                            <div class="Lista_subcuenta">
                                <button class="Subcuenta" @click="abrirModal('modalDatosSubcuenta'); cargarSubcuenta(subcuenta)" v-for="subcuenta in lista_subcuentas" v-if="subcuenta.cuenta == cuenta.id">
                                    <p class="m-0">[[ subcuenta.nombre ]] Q[[ subcuenta.saldo ]]</p>
                                </button>
                            </div>
                            <table class="table" style="margin: 10px;">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th v-if="cuenta.saldo_total >= 0">Q[[ cuenta.saldo_total ]]</th>
                                        <th v-else>-Q[[ cuenta.saldo_total * -1 ]]</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="subcuenta in lista_subcuentas">
                                        <td v-if="subcuenta.cuenta == cuenta.id">[[subcuenta.nombre]]</td>
                                        <td v-if="subcuenta.cuenta == cuenta.id && subcuenta.saldo >= 0">Q[[subcuenta.saldo]]</td>
                                        <td v-else-if="subcuenta.cuenta == cuenta.id && subcuenta.saldo < 0">-Q[[subcuenta.saldo * -1]]</td>
                                        <td v-if="subcuenta.cuenta == cuenta.id">
                                            <a :href="'/Crear_Transaccion/'+subcuenta.id+'/'">
                                                <i class="bx bxs-plus-square" style="position: relative; top: 5px; margin-bottom: -1px; color:#23c933; font-size: 45px;"></i>
                                            </a>
                                            <a :href="'/Ver_Transacciones/'+subcuenta.id+'/'">
                                                <button type="button" class="btn btn-link">
                                                    <i class="bx bxs-show" style="position: relative; top: 2px; margin: -20px; color:#1693db; font-size: 45px;"></i>
                                                </button >
                                            </a>
                                            <button type="button" @click="cargarSubcuenta(subcuenta)" data-bs-toggle="modal" data-bs-target="#modificarSubcuenta" class="btn btn-link">
                                                <i class="bx bxs-pencil" style="margin: -15px; color:#faf623; font-size: 38px;"></i>
                                            </button >
                                            <button type="button" @click="cargarSubcuenta(subcuenta)" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#eliminarSubcuenta">
                                                <i class="bx bxs-x-circle" style="margin: -15px; color:#ff0000; font-size: 38px;"></i>
                                            </button >
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row" style="margin: 10px;">
                                <div class="col-12">
                                    <!-- Botón Crear Subcuenta -->
                                    <button v-show="false" id="modalCrearSubcuenta" data-bs-toggle="modal" data-bs-target="#CrearSubcuenta"></button>
                                    <button class="btn btn-success btn-lg" @click="cargarNombreCuenta(cuenta)">
                                        Crear Subcuenta de [[cuenta.nombre]]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modals">
                <!-- Modal Crear Cuenta -->
                <div class="modal fade" id="CrearCuenta" tabindex="-1" aria-labelledby="CrearCuentaLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="CrearCuentaLabel">Crear Nueva Cuenta</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                    <p>Nombre</p>
                                    <input type="text" v-model="obj_cuenta.nombre">
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cerrar_crearCuenta" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" @click="crearCuenta()" class="btn btn-primary">Crear Cuenta</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Modificar Cuenta -->
                <div class="modal fade" id="modificarCuenta" tabindex="-1" aria-labelledby="modificarPerfilLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Cuenta [[ tituloEditar ]]</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                    <label for="nombre_cuenta">Nombre</label><br/>
                                    <input type="text" v-model="obj_cuenta.nombre" name="nombre_cuenta" id="nombre_cuenta"> <br/>
                                    <label for="efectivo">Cuenta de Efectivo:</label>
                                    <input type="checkbox" v-model="obj_cuenta.es_efectivo" id="efectivo">
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cerrar_modificarCuenta" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" @click="modificarCuenta()" class="btn btn-primary">Guardar cambios</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Modificar Cuenta de Efectivo -->
                <div class="modal fade" id="cuentaEfectivo" tabindex="-1" aria-labelledby="modificarPerfilLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar efectivo de cuenta [[ tituloEditar ]]</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Q100</span>
                                    <input type="number" min="0" v-model="obj_cuenta.b_Q100" class="form-control" placeholder="0" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Q50</span>
                                    <input type="number" min="0" v-model="obj_cuenta.b_Q50" class="form-control" placeholder="0" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Q20</span>
                                    <input type="number" min="0" v-model="obj_cuenta.b_Q20" class="form-control" placeholder="0" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Q10</span>
                                    <input type="number" min="0" v-model="obj_cuenta.b_Q10" class="form-control" placeholder="0" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Q5</span>
                                    <input type="number" min="0" v-model="obj_cuenta.b_Q5" class="form-control" placeholder="0" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Q1</span>
                                    <input type="number" min="0" v-model="obj_cuenta.m_100c" class="form-control" placeholder="0" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Q0.50</span>
                                    <input type="number" min="0" v-model="obj_cuenta.m_50c" class="form-control" placeholder="0" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Q0.25</span>
                                    <input type="number" min="0" v-model="obj_cuenta.m_25c" class="form-control" placeholder="0" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Q0.10</span>
                                    <input type="number" min="0" v-model="obj_cuenta.m_10c" class="form-control" placeholder="0" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Q0.05</span>
                                    <input type="number" min="0" v-model="obj_cuenta.m_5c" class="form-control" placeholder="0" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                                <p>Total: [[ obj_cuenta.b_Q100*100 + obj_cuenta.b_Q50*50 + obj_cuenta.b_Q20*20 + obj_cuenta.b_Q10*10 + obj_cuenta.b_Q5*5 + obj_cuenta.m_100c*1 + obj_cuenta.m_50c*50/100 + obj_cuenta.m_25c*25/100 + obj_cuenta.m_10c*10/100 + obj_cuenta.m_5c*5/100 ]]</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cerrar_cuentaEfectivo" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" @click="modificarCuenta()" class="btn btn-primary">Guardar cambios</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Eliminar Cuenta -->
                <div class="modal fade" id="eliminarCuenta" tabindex="-1" data-bs-backdrop="static" aria-labelledby="EliminarSubcuentaLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="EliminarSubcuentaLabel">Eliminar Cuenta</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Está seguro que desea eliminar la cuenta "[[obj_cuenta.nombre]]"?
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cerrar_eliminarCuenta" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" @click="eliminarCuenta()" class="btn btn-primary">Eliminar Cuenta</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Datos de Subcuenta -->
                <div id="modalDatosSubcuenta" class="newModal">
                    <div class="modalDialog">
                        <div class="modalHeader">
                            <h2>[[ obj_subcuenta.nombre]]</h2>
                        </div>
                        <div class="modalBody">
                            <button @click="cerrarModal('modalDatosSubcuenta')" class="close">X</button>
                            <p v-for="gasto in lista_gastos">
                                [[ gasto.monto ]] - [[ gasto.nombre_categoria ]] - [[ gasto.fecha ]]
                            </p>
                        </div>
                        <div class="modalFooter">
                            <button> xd</button>
                        </div>
                    </div>
                </div>
                <!-- Modal Crear Subcuenta -->
                <div class="modal fade" id="CrearSubcuenta" tabindex="-1" data-bs-backdrop="static" aria-labelledby="CrearSubcuentaLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="CrearSubcuentaLabel">Crear Nueva Subcuenta</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="" method="POST" class="form-control">
                                <div class="modal-body">
                                    <label for="perfil">Perfil</label>
                                    <select name="perfil" id="perfil" v-model="obj_subcuenta.perfil" class="form-select">
                                        <option v-for="perfil in lista_perfilesFiltrados" :value="perfil.id">[[perfil.nombre]]</option>
                                    </select>
                                    <label for="saldo">Saldo Inicial</label>
                                    <input type="number" v-model="obj_subcuenta.saldo" id="saldo">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="cerrar_crearSubcuenta" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" @click="crearSubcuenta()" class="btn btn-primary">Crear Subcuenta</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal Modificar Subcuenta -->
                <div class="modal fade" id="modificarSubcuenta" tabindex="-1" data-bs-backdrop="static" aria-labelledby="CrearSubcuentaLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="CrearSubcuentaLabel">Modificar Subcuenta [[ obj_subcuenta.nombre ]]</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                    <label for="perfil">Perfil</label>
                                    <select v-model="obj_subcuenta.perfil" name="perfil" id="perfil" class="form-select">
                                            <option v-for="perfil in lista_perfilesFiltradosModificar" :value="perfil.id">[[perfil.nombre]]</option>
                                    </select>
                                    <label for="saldo_modificar_subcuenta">Saldo</label>
                                    <input type="number" v-model="obj_subcuenta.saldo" id="saldo_modificar_subcuenta" name="saldo">
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cerrar_modificarSubcuenta" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" @click="modificarSubcuenta()" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Eliminar Subcuenta -->
                <div class="modal fade" id="eliminarSubcuenta" tabindex="-1" data-bs-backdrop="static" aria-labelledby="EliminarSubcuentaLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="EliminarSubcuentaLabel">Eliminar Subcuenta</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Está seguro que desea eliminar la subcuenta "[[obj_subcuenta.nombre]]"?
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cerrar_eliminarSubcuenta" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" @click="eliminarSubcuenta()" class="btn btn-primary">Eliminar Subcuenta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script>
            new Vue({
                el: "#app",
                delimiters: ['[[', ']]'],
                data() {
                    return {
                        lista_cuentas: [],
                        lista_subcuentas: [],
                        lista_gastos: [],
                        lista_perfiles: [],
                        lista_perfilesFiltrados :[],
                        lista_perfilesFiltradosModificar :[],
                        tituloEditar: "",
                        perfilesLibres: false,
                        obj_subcuenta: {
                            id: "",
                            nombre: "",
                            saldo: "",
                            perfil: "",
                            cuenta: ""
                        },
                        obj_cuenta: {
                            id: "",
                            nombre: "",
                            es_efectivo: false
                        }
                    }
                },
                methods: {
                    abrirModal(id_modal){
                        modal = document.getElementById(id_modal)

                        modal.style.opacity = "1";
                        modal.style.pointerEvents = "auto"; 
                    },
                    cerrarModal(id_modal){
                        modal = document.getElementById(id_modal)

                        modal.style.opacity = "0";
                        modal.style.pointerEvents = "none"; 
                    },
                    async obtenerCuentas(){
                        const response = await fetch("../api/cuenta/");
                        this.lista_cuentas = await response.json();
                    },
                    async obtenerSubcuentas(){
                        const response = await fetch("../api/subcuenta/");
                        this.lista_subcuentas = await response.json();
                    },
                    async obtenerPerfiles(){
                        const response = await fetch("../api/perfil/");
                        this.lista_perfiles = await response.json();
                    },
                    async crearCuenta(){
                        formData = new FormData()
                        formData.append("nombre", this.obj_cuenta.nombre)
                        await fetch("../api/cuenta/", {
                            method: "POST",
                            headers: {
                                "X-CSRFToken": Cookies.get("csrftoken"),
                            }, body: formData
                        });
                        document.getElementById("cerrar_crearCuenta").click()
                        this.obtenerCuentas()
                        this.activarAlert("success", "¡Se ha creado la cuenta <strong>"+this.obj_cuenta.nombre+"</strong> correctamente!")
                    },
                    async modificarCuenta(){
                        const formData = new FormData()
                        formData.append("id", this.obj_cuenta.id)
                        formData.append("nombre", this.obj_cuenta.nombre)
                        formData.append("es_efectivo", this.obj_cuenta.es_efectivo)

                        if(this.obj_cuenta.es_efectivo)
                        {
                            formData.append("b_Q100", this.obj_cuenta.b_Q100)
                            formData.append("b_Q50", this.obj_cuenta.b_Q50)
                            formData.append("b_Q20", this.obj_cuenta.b_Q20)
                            formData.append("b_Q10", this.obj_cuenta.b_Q10)
                            formData.append("b_Q5", this.obj_cuenta.b_Q5)
                            formData.append("m_100c", this.obj_cuenta.m_100c)
                            formData.append("m_50c", this.obj_cuenta.m_50c)
                            formData.append("m_25c", this.obj_cuenta.m_25c)
                            formData.append("m_10c", this.obj_cuenta.m_10c)
                            formData.append("m_5c", this.obj_cuenta.m_5c)
                        }

                        await fetch("../api/cuenta/" + this.obj_cuenta.id + "/", {
                            method: "PUT",
                            headers: {
                                "X-CSRFToken": Cookies.get("csrftoken"),
                            }, body: formData
                        })
                        document.getElementById("cerrar_modificarCuenta").click()
                        document.getElementById("cerrar_cuentaEfectivo").click()
                        this.obtenerCuentas()
                        this.obtenerSubcuentas()
                        this.activarAlert("success", "¡Se ha modificado la cuenta <strong>"+this.obj_cuenta.nombre+"</strong> correctamente!")
                    },
                    async eliminarCuenta(){
                        await fetch("../api/cuenta/" + this.obj_cuenta.id + "/", {
                            method: "DELETE",
                            headers: {
                                "X-CSRFToken": Cookies.get("csrftoken"),
                            }
                        })
                        document.getElementById("cerrar_eliminarCuenta").click()
                        this.obtenerCuentas()
                        this.activarAlert("success", "¡Se ha eliminado la cuenta <strong>"+this.obj_cuenta.nombre+"</strong> correctamente!")
                    },
                    cargarCuenta(cuenta){
                        if(cuenta){
                            this.obj_cuenta = {
                                id: cuenta.id,
                                nombre: cuenta.nombre,
                                es_efectivo: cuenta.es_efectivo,
                                b_Q100: parseInt(cuenta.b_Q100),
                                b_Q50: cuenta.b_Q50,
                                b_Q20: cuenta.b_Q20,
                                b_Q10: cuenta.b_Q10,
                                b_Q5: cuenta.b_Q5,
                                m_100c: cuenta.m_100c,
                                m_50c: cuenta.m_50c,
                                m_25c: cuenta.m_25c,
                                m_10c: cuenta.m_10c,
                                m_5c: cuenta.m_5c,
                                total_efectivo: cuenta.b_Q100*100 + cuenta.b_Q50*50 + cuenta.b_Q20*20 + cuenta.b_Q10*10 + cuenta.b_Q5*5 + cuenta.m_100c + cuenta.m_50c*50/100 + cuenta.m_25c*25/100 + cuenta.m_10c*10/100 + cuenta.m_5c*5/100
                            }
                        }
                        else{
                            this.obj_cuenta = {
                                id: "",
                                nombre: "",
                                es_efectivo: false
                            }
                        }
                        this.tituloEditar = this.obj_cuenta.nombre
                    },
                    async cargarNombreCuenta(cuenta){
                        this.lista_perfilesFiltrados = this.lista_perfiles.filter((perfil) => {
                            for(subcuenta of this.lista_subcuentas){
                                if(subcuenta.cuenta == cuenta.id && subcuenta.perfil == perfil.id){
                                    return false
                                }
                            }
                            return true
                        })
                        this.perfilesLibres = this.lista_perfilesFiltrados.length > 0
                        if(!this.perfilesLibres){
                            this.activarAlert("danger", "No hay suficientes perfiles disponibles")
                        }
                        else{
                            document.getElementById("modalCrearSubcuenta").click()
                        }
                        this.obj_subcuenta = {
                            id: "",
                            nombre: "",
                            saldo: "",
                            perfil: (this.lista_perfilesFiltrados.length >= 1)? this.lista_perfilesFiltrados[0].id : null,
                            cuenta: cuenta.id,
                            nombre_cuenta: cuenta.nombre
                        }
                    },
                    async crearSubcuenta(){
                        formData = new FormData()
                        formData.append("saldo", this.obj_subcuenta.saldo)
                        formData.append("perfil", this.obj_subcuenta.perfil)
                        formData.append("cuenta", this.obj_subcuenta.cuenta)
                        await fetch("../api/subcuenta/", {
                            method: "POST",
                            headers: {
                                "X-CSRFToken": Cookies.get("csrftoken"),
                            }, body: formData
                        });
                        document.getElementById("cerrar_crearSubcuenta").click()
                        this.obtenerCuentas()
                        this.obtenerSubcuentas()
                        this.activarAlert("success", "¡Se ha creado una nueva subcuenta en la cuenta <strong>"+this.obj_subcuenta.nombre_cuenta+"</strong> correctamente!")
                    },
                    async cargarSubcuenta(subcuenta){
                        this.obj_subcuenta = {
                            id: subcuenta.id,
                            nombre: subcuenta.nombre,
                            saldo: subcuenta.saldo,
                            perfil: subcuenta.perfil,
                            cuenta: subcuenta.cuenta
                        }
                        tituloEditar = this.obj_subcuenta.nombre
                        this.lista_perfilesFiltradosModificar = this.lista_perfiles.filter((perfil) => {
                            for(subcuentaf of this.lista_subcuentas){
                                //primer condición (cuentas): es para verificar si la subcuenta del for es de la misma cuenta que la subcuenta a modificar
                                //segunda condición: que excluya el perfil del filtro si la cuenta ya tiene una subcuenta con ese perfil
                                //tercer condición: que no excluya el perfil si el perfiles el de la subcuenta que se va a modificar
                                if(subcuentaf.cuenta == subcuenta.cuenta && subcuentaf.perfil == perfil.id && subcuenta.perfil != perfil.id){
                                    return false
                                }
                            }
                            return true
                        })
                        this.lista_perfilesFiltradosModificar.push()

                        //  Cargar los gastos de una subcuenta en específico por id
                        const response = await fetch("../api/gasto/?subcuenta=" + subcuenta.id)
                        this.lista_gastos = await response.json()
                    },
                    async modificarSubcuenta(){
                        formData = new FormData()
                        formData.append("id", this.obj_subcuenta.id)
                        formData.append("saldo", this.obj_subcuenta.saldo)
                        formData.append("perfil", this.obj_subcuenta.perfil)
                        formData.append("cuenta", this.obj_subcuenta.cuenta)
                        await fetch("../api/subcuenta/" + this.obj_subcuenta.id + "/", {
                            method: "PUT",
                            headers: {
                                "X-CSRFToken": Cookies.get("csrftoken")
                            }, body: formData
                        })
                        document.getElementById("cerrar_modificarSubcuenta").click()
                        this.obtenerCuentas()
                        this.obtenerSubcuentas()
                        this.activarAlert("success", "¡Se ha modificado la subcuenta <strong>"+this.obj_subcuenta.nombre+"</strong> correctamente!")
                    },
                    async eliminarSubcuenta(){
                        await fetch("../api/subcuenta/" + this.obj_subcuenta.id + "/", {
                            method: "DELETE",
                            headers: {
                                "X-CSRFToken": Cookies.get("csrftoken")
                            }
                        })
                        document.getElementById("cerrar_eliminarSubcuenta").click()
                        this.obtenerCuentas()
                        this.obtenerSubcuentas()
                        this.activarAlert("success", "¡Se ha eliminado la subcuenta <strong>"+this.obj_subcuenta.nombre+"</strong> correctamente!")
                    },
                    activarAlert(type, message){
                        alerta = document.getElementById("Alerta")
                        alerta.innerHTML = [
                            `<div class="alert alert-${type} alert-dismissible" id="alert-body" role="alert" style="width: 50%; margin: 0 auto;">`,
                            `   <p style="text-align: center;">${message}</p>`,
                            '   <button type="button" id="cerrar_alerta" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                            '</div>'].join(''   )
                            setTimeout(() => {
                                if(document.getElementById("alert-body")){
                                    document.getElementById("cerrar_alerta").click()
                                }
                            }, 4000)
                    }
                },
                created(){

                    this.obtenerCuentas();
                    this.obtenerSubcuentas();
                    this.obtenerPerfiles();

                }
            })
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
</html>