:root {
  --background: #f6f8fb
}

body {
  background-color: var(--background);
}

input.error, select.error{
  border-style: solid;
  border-color: rgb(255, 116, 116);
  border-width: 2px;
}

.help-text {
  color: rgb(177, 177, 177);
  font-size: 0.9rem;
}

.input-error {
  border-style: solid;
  border-color: rgb(255, 116, 116);
  border-width: 2px;
  border-radius: 7px;
}

label.error-label {
    height: 1rem;
    font-size: 0.9rem;
    color: red;
}

label.input-error{
  color:red;
  background-color: rgb(255, 232, 232);
  border-color: rgb(255, 116, 116);;
  border-width: 2px;
}

.cargando {
    overflow: hidden;
    height: 100%;
}

.h-100vh {
  height: 100vh;
}

.text-title{
  font-family: 'Playfair Display', serif;
}